/*
  MAP of COLORS
*/
$colors: (
  red: #fe0000,
  green: #00fe00,
  blue: #0000fe
);

/*
  Styleguide generator
*/
.styleguide__colors{
  margin-bottom: $rem-base * 2;

  .styleguide__colors__items{
    &:after{
      content: "";
      display: block;
      clear: both;
    }

    > div {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      float: left;
      display: block;
      $styleguide_color_index: 1;
      @each $name, $color in $colors {
        &:nth-child(#{$styleguide_color_index}){
          background-color: $color;
          &:before{
            content: "" + $name;
            display: block;
            background-color: #ffffff;
            color: #000000;
          }

          &:after{
            display: block;
            content: "" + $color;
            background-color: #ffffff;
            color: #000000;
          }
        }
        $styleguide_color_index: $styleguide_color_index + 1;
      }
    }
  }
}

/*
  PROTO HELPERS
  In html you can use:
  <div class="red">Text</div> in order to get text of red color

  When it becomes stable you can refactor:
  <div class="element">Text</div>
  .element{ color: color(red); }
*/
@each $name, $color in $colors {
  .#{$name}{
    color: $color;
  }

  .bg-#{$name}{
    background-color: $color;
  }
}

/*
  SASS FUNCTION
  In sass you can do:
  .class { color: color(red); }
*/
@function color($name) {
  @if(map-has-key($colors, $name)){
    @return map-get($colors, $name);
  }
}
