$font-primary: (
  stack: "arial, sans-serif",

  small: (
    font-size: 14,
    line-height: 22
  ),

  base: (
    font-size: 16,
    line-height: 24
  ),

  large: (
    font-size: 24,
    line-height: 32
  )
);

$font-secondary: (
  stack: "times, sans-serif",

  small: (
    font-size: 14,
    line-height: 22
  ),

  base: (
    font-size: 16,
    line-height: 24
  ),

  large: (
    font-size: 24,
    line-height: 32
  )
);

$fonts: (
  font-primary: $font-primary,
  font-secondary: $font-secondary
);

// FUNCTION that take a specific feature from the map
@function _fontset-feature($family, $feature, $set: 'base'){
  $result: map-get(map-get($family, $set), $feature);
  @return($result * 1px);
}

// FUNCTION that take the font-name
@function _fontset-family($family) {
  $result: map-get($family, stack);
  @return unquote($result);
}

// FUNCTION that take the font-size from the map
@function calc-font-size($family, $set) {
  @return _fontset-feature($family, font-size, $set);
}

// FUNCTION that take the lin-height from the map
@function calc-line-height($family, $set) {
  @return _fontset-feature($family, line-height, $set);
}

// FUNCTION that convert PX in REM
@function calculateRem($size) {
  $remSize: $size / $rem-base;
  @return #{$remSize}rem;
}

// MIXIN that print font-size and line-height
@mixin typo($fontsize, $lineheight: 0px){
  font-size: $fontsize;
  font-size: calculateRem($fontsize);
  @if $lineheight > 0{
    $lh: ($lineheight / $fontsize) * 1em;
    line-height: $lh;
  }
}

// FUNCTION that take the font-size from the map
@mixin font-scale ($font-size, $family:$font-default, $fixed-size: false) {
  $fs: calc-font-size($family, $font-size);
  $lh: calc-line-height($family, $font-size);

  font-family: _fontset-family($family);
  @include typo($fs, $lh);
}

/*
  STYLEGUIDE generator
*/
.styleguide__typos{
  margin-bottom: $rem-base * 2;

  .styleguide__typos__items{
    > div {
      margin-bottom: $rem-base * 2;
      padding: $rem-base;
      background-color: #eeeeee;
      color: #000000;
      small{
        display: block;
        font-size: 16px;
        font-family: courier;
        color: #999999;
      }
    }
    @each $family, $map in $fonts {
      @each $size, $dimensions in $map {
        @if $size != 'stack'{
          $name: map-get($map, "stack");
          $fs: calc-font-size($map, $size);
          $lh: calc-line-height($map, $size);
          > div.#{$family}.#{$size}{
            &:after{
              content: $name + " (" + $fs + ", " + $lh + ")";
              color: #666666;
              display: block;
              padding: 5px 0px;
              font-size: $rem-base;
              line-height: $rem-base;
            }
          }
        }
      }
    }
  }
}

/*
  PROTO HELPERS
  Generator of helpers classes
*/
@each $family, $map in $fonts {
  @each $size, $dimensions in $map {
    @if $size != 'stack'{
      $name: map-get($map, "stack");
      $fs: calc-font-size($map, $size);
      $lh: calc-line-height($map, $size);

      .#{$family}.#{$size}{
        @include font-scale($size, $map, false);
      }
    }
  }
}
