/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
  MAP of COLORS
*/
/*
  Styleguide generator
*/
.styleguide__colors {
  margin-bottom: 32px;
}
.styleguide__colors .styleguide__colors__items:after {
  content: "";
  display: block;
  clear: both;
}
.styleguide__colors .styleguide__colors__items > div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
  display: block;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(1) {
  background-color: #fe0000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(1):before {
  content: "red";
  display: block;
  background-color: #ffffff;
  color: #000000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(1):after {
  display: block;
  content: "#fe0000";
  background-color: #ffffff;
  color: #000000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(2) {
  background-color: #00fe00;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(2):before {
  content: "green";
  display: block;
  background-color: #ffffff;
  color: #000000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(2):after {
  display: block;
  content: "#00fe00";
  background-color: #ffffff;
  color: #000000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(3) {
  background-color: #0000fe;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(3):before {
  content: "blue";
  display: block;
  background-color: #ffffff;
  color: #000000;
}
.styleguide__colors .styleguide__colors__items > div:nth-child(3):after {
  display: block;
  content: "#0000fe";
  background-color: #ffffff;
  color: #000000;
}

/*
  PROTO HELPERS
  In html you can use:
  <div class="red">Text</div> in order to get text of red color

  When it becomes stable you can refactor:
  <div class="element">Text</div>
  .element{ color: color(red); }
*/
.red {
  color: #fe0000;
}

.bg-red {
  background-color: #fe0000;
}

.green {
  color: #00fe00;
}

.bg-green {
  background-color: #00fe00;
}

.blue {
  color: #0000fe;
}

.bg-blue {
  background-color: #0000fe;
}

/*
  SASS FUNCTION
  In sass you can do:
  .class { color: color(red); }
*/
/*
  STYLEGUIDE generator
*/
.styleguide__typos {
  margin-bottom: 32px;
}
.styleguide__typos .styleguide__typos__items > div {
  margin-bottom: 32px;
  padding: 16px;
  background-color: #eeeeee;
  color: #000000;
}
.styleguide__typos .styleguide__typos__items > div small {
  display: block;
  font-size: 16px;
  font-family: courier;
  color: #999999;
}
.styleguide__typos .styleguide__typos__items > div.font-primary.small:after {
  content: "arial, sans-serif (14px, 22px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}
.styleguide__typos .styleguide__typos__items > div.font-primary.base:after {
  content: "arial, sans-serif (16px, 24px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}
.styleguide__typos .styleguide__typos__items > div.font-primary.large:after {
  content: "arial, sans-serif (24px, 32px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}
.styleguide__typos .styleguide__typos__items > div.font-secondary.small:after {
  content: "times, sans-serif (14px, 22px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}
.styleguide__typos .styleguide__typos__items > div.font-secondary.base:after {
  content: "times, sans-serif (16px, 24px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}
.styleguide__typos .styleguide__typos__items > div.font-secondary.large:after {
  content: "times, sans-serif (24px, 32px)";
  color: #666666;
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 16px;
}

/*
  PROTO HELPERS
  Generator of helpers classes
*/
.font-primary.small {
  font-family: arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143em;
}

.font-primary.base {
  font-family: arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
}

.font-primary.large {
  font-family: arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333em;
}

.font-secondary.small {
  font-family: times, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143em;
}

.font-secondary.base {
  font-family: times, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
}

.font-secondary.large {
  font-family: times, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333em;
}

body {
  font-size: 16px;
}

.element1 {
  font-family: arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333em;
  color: #0000fe;
}

.element2 {
  font-family: times, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
}
